/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* CSS Reset
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
html, body {

  overflow-x:hidden;
   font-family: 'Raleway' sans-serif;
}

body {

  background-color: transparent;
}




